table{
	border: 0px solid grey;
}

div.logo{
        position: absolute;
        top: 0px;
        left: 0%;
        max-height: 95px;
        content:url('{{logo}}');
}

div.qr{
	position: absolute;
	top: 0px;
	right: 50%;
	/*transform: translateX(-41px);*/
	max-height: 82px;
	content:url('{{qr}}');
}

.dte-id{
	position: absolute;
	padding: 1px;
	width: 50%;
	height: 80px;
	top: 0px;
	right: 0%;
	background: #F3F3F3;
	text-align: right;
	font-size: 17px;
	font-family: Calibri, sans-serif;
}

.pie-pagina{
	text-align: center;
	font-size: 10px;
	font-family: Calibri, sans-serif;
	color: #838383;
}

.datos-emisor{
	position: absolute;
	top: 100px;
	left: 0%;
	font-size: 13px;
font-family: Calibri, sans-serif;
max-width: 310px;
}

.doc-id{
		position: absolute;
	top: 100px;
	right: 0%;
	font-size: 13px;
font-family: Calibri, sans-serif;
}

.nombre-dte{
	position: absolute;
	right: 0px;
	top: 25px;
	font-size: 20px;
	font-family: Calibri, sans-serif;
	color: #1E74BC;
}

.datos-receptor{
	position: absolute;
	top: 240px;
	left: 0px;
	width: 100%;
	font-size: 13px;
font-family: Calibri, sans-serif;
}

.sub-tabla{
	font-size: 15px;
	border: none;
	width: 100%;
font-family: Calibri, sans-serif;
}

.titulo-apartado{
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1pt solid black;
	text-align: center;
	color: #FFF;
	background-color: #1E74BC;
font-family: Calibri, sans-serif;
}

.row-line{
	border-bottom: 1pt solid black;
	border-color: #C6C9CB;
}

.row-line-left{
	border-left: 1pt solid black;
	border-color: #C6C9CB;
}

.row-line-all{
	border-bottom: 0pt solid black;
	border-left: 0pt solid black;
	border-right: 0pt solid black;
	border-color: #C6C9CB;
}

strong{
	font-weight: 600;
}

