<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ups! página no encontrada</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<style type="text/css">
		body {
			/*background-color: #51DC92;*/
			background-color: #51CBDC;
		}
		.ups {
			position: relative;
			top: 100px;
			font-weight: bold;
			font-size: 100px;
			color: #FFF;
		}

		.texto {
			position: relative;
			font-size: 20px;
			top: 100px;
			color: #FFF;
		}

		.volver {
			position: relative;
			top: 100px;
		}

		.centrado {
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="ups centrado">Ups!</div>
	<p class="texto centrado">página no encontrada</p>
	<div class="centrado volver">
		<input type="button" class="btn btn-warning" onclick="history.back()" name="volver" value="volver">
	</div>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>