{% load static %}
<p>BASE_DIR: {{BASE_DIR}}
<p>PROJECT_DIR: {{PROJECT_DIR}}<img src=""> </p>
<p>STATIC_ROOT: {{STATIC_ROOT}}</p>
<p>STATIC_DIR: {{STATIC_DIR}}</p>
<p>STATIC_DIR_IMG: {{STATIC_DIR_IMG}} <img src="{{STATIC_DIR_IMG}}"></p>
<p>STATIC_URL: {{STATIC_URL}}</p>
<p>STATIC_URL_IMG: {{STATIC_URL_IMG}} <img src="{{STATIC_URL_IMG}}"></p>
<p>MEDIA_URL: {{MEDIA_URL}}</p>
<p>MEDIA_ROOT: {{MEDIA_ROOT}}</p>
<p>osName: {{osName}} </p>
<p>logo: {{logo}} </p>
<p>dominio: {{url}} </p>
<p>imagen_MEDIA: {{imagen_MEDIA}}</p>
<p>Modificaciones</p>
<p>Binario </p> <a href="{% static 'wkhtmltopdf' %}">wkhtmltopdf</a>

<img src="{% static '' %}">