{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block titulo %}
    Crear o actualizar DTE
{% endblock %}

{% block estilo %}
    <style type="text/css">
        .centrado {
            text-align: center;
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <strong>Mensaje:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

{% if sello %}
    <div class="alert alert-warning" role="alert" align="center">
        Documento enviado al ministerio, sello de recepción <strong>{{ sello }}</strong>
    </div>
{% endif %}
{% if anulado %}
    <div class="alert alert-warning" role="alert" align="center">
        <strong>Documento anulado</strong> <p>DTE de anulación: {{anulado.codigoGeneracion}} del {{anulado.fechaEmision|fecha}}</p>
    </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulario para agregar cliente -->
        <form method="post" id="cliente_form">
          {% csrf_token %}
          {{ cliente_frm.as_p }}
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal anular Dte -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Anular DTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro de anular el documento?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="anularDocumento('{{Documento.tipoDte.codigo}}', '{{Documento.codigoGeneracion}}')">Sí, anular</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal anular Dte -->

<form enctype="multipart/form-data" class="container" method="post" id="product_form">
    {% csrf_token %}
    <!-- main form start --- in our case product form -->
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{Documento.tipoDte}}{{TipoDocumento}}</h4>
                    <div class="row">
                        {% if form.emisor %}
                        <div class="col-md-2" style="display: none;">
                            {{ form.emisor|as_crispy_field }}
                        </div>
                        {% endif %}
                        <div class="col-md-3">
                            {{ form.codigoGeneracion|as_crispy_field }}
                        </div>
                        {% if form.numeroControl %}
                        <div class="col-md-3">
                            {{ form.numeroControl|as_crispy_field }}
                        </div>
                        {% endif %}
                        
                        {% if form.receptor %}
                        <div class="col-md-2">
                            {{ form.receptor|as_crispy_field }}
                        </div>
                        {% endif %}
                        {% if form.tipoDte %}
                        <div class="col-md-2" style="display: none;">
                            {{ form.tipoDte|as_crispy_field }}
                        </div>
                        {% endif %}
                        {% if form.version %}
                        <div class="col-md-2">
                            {{ form.version|as_crispy_field }}
                        </div>
                        {% endif %}
                        {% if form.fecEmi %}
                        <div class="col-md-2">
                            {{ form.fecEmi|as_crispy_field }}
                        </div>
                        {% endif %}
                        {% if form.observaciones %}
                        <div class="col-md-8">
                            {{ form.observaciones|as_crispy_field }}
                        </div>
                        {% endif %}
                        {% if form.condicionOperacion %}
                        <div class="col-md-2">
                            {{ form.condicionOperacion|as_crispy_field }}
                        </div>
                        {% endif %}
                        {% if form.estadoPago %}
                        <div class="col-md-2 centrado">
                            {{ form.estadoPago|as_crispy_field }}
                        </div>
                        {% endif %}
                    {% if Documento.tipoDte.codigo == '11' or TipoDocumento.codigo == '11' %}
                        <div class="col-md-2">
                            {{ form.tipoItemExpor|as_crispy_field }}
                        </div>
                        <div class="col-md-3">
                            {{ form.recintoFiscal|as_crispy_field }}
                        </div>
                        <div class="col-md-5">
                            {{ form.regimen|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{ form.incoterms|as_crispy_field }}
                        </div>
                    {% endif %}
                    {% if TipoDocumento.codigo == 'contingencia' or Documento.tipoDte.codigo == 'contingencia' %}
                        <div class="col-md-2">
                            {{ form.fTransmision|as_crispy_field }}
                        </div>
                        <div class="col-md-5">
                            {{ form.tipoContingencia|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{ form.fInicio|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{ form.fFinal|as_crispy_field }}
                        </div>
                    {% endif %}
                    </div>

                    <!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      Agregar Cliente
                    </button-->
                        <div>
                           
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            
                            {% if form.numeroControl.value %}
                            <a href="{% url 'dte:vista_previa' form.tipoDte.value form.codigoGeneracion.value %}" target="_blank" class="btn btn-primary">Vista previa</a>
                            {% endif %}

                            {% if not sello %}
                                {% if form.numeroControl.value %}
                                    <a href="{% url 'dte:enviar_mh' form.tipoDte.value form.codigoGeneracion.value %}" class="btn btn-primary">Generar documento electrónico</a>
                                {% endif %}
                            {% endif %}
                            {% if sello %}
                            <a href="{% url 'dte:correo' form.tipoDte.value form.codigoGeneracion.value %}" class="btn btn-primary">Re-enviar correo al cliente</a>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
                              Anular
                            </button>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                   {% with named_formsets.detalles as formset %}
                        {{ formset.management_form }}
                        <script type="text/html" id="detalles-template">  // id="inlineformsetname-template"
                            // id='inlineformsetname-__prefix__' 
                            <tr id="detalles-__prefix__" class= hide_all>
                                {% for fields in formset.empty_form.hidden_fields %}
                                    {{ fields }}
                                {% endfor %}
                            
                                {% for fields in formset.empty_form.visible_fields %}
                                    <td>{{ fields }}</td>
                                {% endfor %}
                            </tr>
                        </script>

                        <div class="table-responsive card mt-4">
                                <h4 class="card-title">Detalle</h4>
                            <table class="table card-header">
                                <thead class="text-secondary">

                                    {% if TipoDocumento.codigo == '01' or TipoDocumento.codigo == '03' or Documento.tipoDte.codigo == '01' or Documento.tipoDte.codigo == '03'%}
                                        <th>Tipo <span style="color: red;" class="required">*</span></th>
                                        <th>Cantidad <span style="color: red;" class="required">*</span></th>
                                        <th>U. Medida <span style="color: red;" class="required">*</span></th>
                                        <th>Descripción <span style="color: red;" class="required">*</span></th>
                                        <th>Complemento descripción </th>
                                        <th>Precio <span style="color: red;" class="required">*</span></th>
                                        <th>Descuento</th>
                                        <th>Vta no sujeta</th>
                                        <th>Venta exenta</th>
                                        <th>Venta gravada</th>
                                        <th>ID <span style="color: red;" class="required">*</span></th>
                                        <th>Eliminar?</th>
                                    {% endif %}
                                    {% if TipoDocumento.codigo == '05' or TipoDocumento.codigo == '06' or Documento.tipoDte.codigo == '05' or Documento.tipoDte.codigo == '06'%}
                                        <th>Tipo <span style="color: red;" class="required">*</span></th>
                                        <th>Tipo doc.<span style="color: red;" class="required">*</span></th>
                                        <th>Tipo generac.<span style="color: red;" class="required">*</span></th>
                                        <th># Doc. <span style="color: red;" class="required">*</span></th>
                                        <th>Fec. Emisión <span style="color: red;" class="required">*</span></th>
                                        <th>Cant. <span style="color: red;" class="required">*</span></th>
                                        <th>UdM. <span style="color: red;" class="required">*</span></th>
                                        <th>Descripción <span style="color: red;" class="required">*</span></th>
                                        <th>Complemento descripción </th>
                                        <th>Precio <span style="color: red;" class="required">*</span></th>
                                        <th>Descuento</th>
                                        <th>Vta no sujeta</th>
                                        <th>Venta exenta</th>
                                        <th>Venta gravada</th>
                                        <th>ID <span style="color: red;" class="required">*</span></th>
                                        <th>Eliminar?</th>
                                    {% endif %}
                                    {% if TipoDocumento.codigo == '11' or Documento.tipoDte.codigo == '11'%}
                                        <th>Cant. <span style="color: red;" class="required">*</span></th>
                                        <th>UdM. <span style="color: red;" class="required">*</span></th>
                                        <th>Descripción <span style="color: red;" class="required">*</span></th>
                                        <th>Complemento descripción </th>
                                        <th>Precio <span style="color: red;" class="required">*</span></th>
                                        <th>Descuento</th>
                                        <th>No Gravada</th>
                                        <th>Vta gravada</th>
                                        <th>ID <span style="color: red;" class="required">*</span></th>
                                        <th>Eliminar?</th>
                                    {% endif %}
                                    {% if TipoDocumento.codigo == '14' or Documento.tipoDte.codigo == '14' %}
                                        <th>Tipo <span style="color: red;" class="required">*</span></th>
                                        <th>Cant. <span style="color: red;" class="required">*</span></th>
                                        <th>UdM. <span style="color: red;" class="required">*</span></th>
                                        <th>Descripción <span style="color: red;" class="required">*</span></th>
                                        <th>Complemento descripción </th>
                                        <th>Precio <span style="color: red;" class="required">*</span></th>
                                        <th>Descuento</th>
                                        <th>Valor compra</th>
                                        <th>ID <span style="color: red;" class="required">*</span></th>
                                        <th>Eliminar?</th>
                                    {% endif %}
                                    {% if TipoDocumento.codigo == 'contingencia' or Documento.tipoDte.codigo == 'contingencia' %}
                                        <th>Tipo documento<span style="color: red;" class="required">*</span></th>
                                        <th>Código de generación <span style="color: red;" class="required">*</span></th>
                                    {% endif %}
                                </thead>    
                                <tbody id="item-detalles">  <!-- id="item-inlineformsetname" -->
                                    <!-- formset non forms errors -->
                                    {% for error in formset.non_form_errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}
                                    {% for formss in formset %}
                                        {{ formss.management_form }}
                                        <tr id="detalles-{{ forloop.counter0 }}">  <!-- id="inlineformsetname-counter" -->
                                            {{ formss.id }}
                                            {% for field in formss.visible_fields %}
                                                {% if not field.name == 'codigoDetalles' %}
                                                    <td>
                                                        {{field}}
                                                        {% for error in field.errors %}
                                                            <span style="color: red">{{ error }}</span>
                                                        {% endfor %}
                                                        
                                                        {% comment %} {{ field.DELETE }} {% endcomment %}
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                            {% comment %} for delete {% endcomment %}
                                            {% if formss.instance.pk %}
                                                <td>
                                                    {% if not sello %}
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{formss.instance.pk}}">
                                                        Eliminar
                                                    </button>
                                                    {% endif %}
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">¿Está seguro que desea eliminar este detalle?</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a href="{% url 'dte:eliminar_detalle' Documento.tipoDte.codigo formss.instance.pk %}" type="button" class="btn btn-primary">Sí, eliminarlo</a>
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Cerrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>            
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <span style="color: red;" class="required">*</span> Campos obligatorios
                        
                    {% endwith %}

                    <!--div align="center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div-->
                            <div align="right">
                                {% if not sello %}
                                <a href="#" id="add-detalle-button" class="btn btn-primary add-detalles">Agregar ítem</a> <!-- 
                                id="add-inlineformsetname-button" -->
                                {% endif %}
                            </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!--script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script-->

{% endblock %}

{% block scripts %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#item-detalles').on('focus', '.detalles-1-descripcion input', function() {
            $(this).autocomplete({
                source: '{% url "dte:autocompletar_producto" %}'
                minLength: 2 // mínimo de caracteres antes de realizar la búsqueda
            });
        });
    });
</script>

<!-- Script para enviar el formulario mediante AJAX -->
<script>
  $(document).ready(function() {
    // when user clicks add more btn of detalles
      $('.add-detalles').click(function(ev) {
        ev.preventDefault();
        var count = $('#item-detalles').children().length;
        var tmplMarkup = $('#detalles-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('#item-detalles').append(compiledTmpl);

        // update form count
        $('#id_detalles-TOTAL_FORMS').attr('value', count+1);

        // actualizar el formulario de gestión
        $('#id_formset-TOTAL_FORMS').val(count+1);

        //$('#')
      });
  });
</script>

<!-- Script para enviar el formulario mediante AJAX -->
<script>
  $(document).ready(function() {
    $('#cliente_form').submit(function(event) {
      event.preventDefault();
      $.ajax({
        type: "POST",
        url: "{% url 'dte:guardar_cliente_modal' %}",
        data: $(this).serialize(),
        success: function(response) {
          // Manejar la respuesta aquí (por ejemplo, mostrar un mensaje de éxito)
          alert('Cliente agregado correctamente');
          // Cerrar el modal después de agregar el cliente
          $('#exampleModal').modal('hide');
        },
        error: function(xhr, errmsg, err) {
          // Manejar errores aquí (por ejemplo, mostrar mensajes de error)
          // alert('Error al agregar el cliente');
          $('#exampleModal').modal('hide');
        }
      });
    });


    // Llama a la función para calcular el subtotal y actualizar la casilla 'ventaGravada'
    $('#item-detalles').on('input', '.field-cantidad input, .field-precioUni input', function() {
        calcularSubtotal();
    });

  });

    function anularDocumento(tipo, codigo) {
        // Redirigir a la URL de anulación con los parámetros
        window.location.href = "/invalidar_dte/"+ tipo + "/" + codigo;
  }


    function calcularTotal(element) {
        var fila = element.parentNode.parentNode;
        var cantidad = fila.querySelector('.cantidad').value;
        var precio = fila.querySelector('.precioUni').value;
        var total = cantidad * precio;
        fila.querySelector('.ventaGravada').value = total;
    }

</script>


{% endblock %}