{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

<div class="d-xl-flex justify-content-between align-items-start">
  <h2 class="text-dark font-weight-bold mb-2"> Inicio </h2>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="mb-2 text-dark font-weight-normal">Documentos emitidos este día</h5>
          <h2 class="mb-4 text-dark font-weight-bold">{{numDia}}</h2>
          <!--div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent"-->
          <i class="mdi mdi-file-document icon-md <!--absolute-center--> text-dark"></i><!--/div-->
          <!--p class="mt-4 mb-0">Completed</p>
          <h3 class="mb-0 font-weight-bold mt-2 text-dark">5443</h3-->
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="mb-2 text-dark font-weight-normal">Total ventas este día</h5>
          <h2 class="mb-4 text-dark font-weight-bold">$ {{valorDia|moneda}}</h2>
          <i class="mdi mdi-coin icon-md text-dark"></i>
        </div>
      </div>
    </div>
    <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="mb-2 text-dark font-weight-normal">Documentos emitidos en el mes</h5>
          <h2 class="mb-4 text-dark font-weight-bold">{{numMes}}</h2>
          <i class="mdi mdi-file-document icon-md text-dark"></i>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="mb-2 text-dark font-weight-normal">Total ventas del mes</h5>
          <h2 class="mb-4 text-dark font-weight-bold">$ {{valorMes|moneda}}</h2>
         <i class="mdi mdi-coin icon-md text-dark"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Documentos pendientes de pago</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>

                <td><strong>Fecha</strong></td>
                <td><strong>Núnero</strong></td>
                <td><strong>Cliente</strong></td>
                <td align="right"><strong>Monto</strong></td>
                <td align="center"><strong>Días</strong></td>
                
              </tr>            
            </thead>
            <tbody>
              {% for doc in cxc %}
                <tr>
                <td>{{doc.fecEmi|fecha}}</td>
                <td><a href="{% url 'dte:actualizar' doc.codigoGeneracion %}">{{doc.numeroControl}}</a></td>
                <td>{{doc.receptor}}</td>
                <td align="right">$ {{doc.totalPagar}}</td>
                <td align="center">0</td>              
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Productos con existencia mínima</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Producto</td>
              <td>Cantidad</td>
            </tr>            
          </thead>
          <tbody>
            <tr>
              <td>Nombre de producto 001</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Nombre de producto 002</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Nombre de producto 003</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Nombre de producto 004</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Nombre de producto 005</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Nombre de producto 006</td>
              <td>2</td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div-->
</div>
{% endblock %}