{% extends 'base.html' %}
{% load my_filters %}

{% block titulo %}
    Documentos emitidos a clientes
{% endblock %}

{% block estilo %}
<style type="text/css">
    .pagado {
        color: #01BD3A;
        font-weight: bolder;
    }

    .no-pagado {
        color: #FF5733;
        font-weight: bolder;
    }

    .Generado {
        color: #FFC300;
        font-weight: bolder;
    }

    .Enviado {
        color: #01BD3A;
        font-weight: bolder;
    }

    .Anulado {
        color: #FF5733;
        font-weight: bolder;
    }

    .derecha {
        text-align: right;
    }

    .cursiva {
        font-style: italic;
    }
</style>
{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <strong>{{ message.tags.capitalize }}:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="mb-3 d-flex">
                    <div class="col-md-9">
                        <input type="text" id="txtCriterio" name="Criterio" class="form-control" placeholder="Buscar por código de generación, razón social, observaciones o detalle de ítem">
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary mb-3 w-100" id="btnBuscar" onclick="buscarDte()">Buscar</button
                        >
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary mb-3 w-100" id="btnLimpiar" onclick="limpiarBusqueda()">Limpiar filtro</button>
                    </div>
                </div>
                <!--h4 class="card-title">Documentos emitidos</h4-->
                <h4 class="card-title">{{nombreDoc}}</h4>
                <div class="table-responsive">
                    <table class="table table-striped" id="listaDte">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Correlativo</th>
                                <th>Cód. generación</th>
                                <th>Cliente</th>
                                <th>Monto(USD)</th>
                                <th>Observaciones</th>
                                <th>Pago</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dte in page_obj %}
                                <tr>
                                    <td>{{dte.fecEmi|fecha}}</td>
                                    <td title="{{dte.tipoDte.nombre}}">{{dte.tipoDte.nombre_corto}} {{dte.numeroControl|slice:"27:"}}</td>
                                    <td title="{{dte.codigoGeneracion}}"><a href="{% url 'dte:actualizar' dte.tipoDte.codigo dte.codigoGeneracion %}">{{dte.codigoGeneracion|slice:":8"}}...</a></td>
                                    <td title="{{dte.receptor}}">{{dte.receptor.nombreComercial}}</td>
                                    <td class="derecha">{{dte.totalPagar|moneda}}</td>
                                    <td title="{{dte.observaciones}}">
                                        {% if dte.observaciones %}
                                            {{dte.observaciones|slice:":40"}}...
                                        {% endif %}
                                    </td>
                                    {% if dte.estadoPago %}
                                        <td class="pagado">Pagado</td>
                                    {% else %}
                                        <td class="no-pagado"> No pagado</td>
                                    {% endif %}
                                    <td class="{{dte.estadoDte}}">{{dte.estadoDte}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!--br>
                    <p class="cursiva">E.P.: Indica el estado del pago por parte del cliente.<br>
                    M.H.: Indica si el documento ya se envió al Ministerio de Hacienda.</p-->
                </div>
            </div>
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if page_obj.has_previous %}
                    <button type="button" class="btn btn-outline-primary btn-fw">
                        <a href="?page=1">&laquo; Primera</a>
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                    </button>
                    {% endif %}

                    <span>
                        <button type="button" class="btn btn-outline-primary">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </button>
                    </span>

                    {% if page_obj.has_next %}
                    <button type="button" class="btn btn-outline-primary">
                        <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-fw">
                        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function buscarDte() {
        var criterio = $("#txtCriterio").val();
        //alert({{tipo}});
        $.ajax({
            type: "GET",
            url: "/lista_dte_filtrar/{{tipo}}",  // Define la URL de la vista de búsqueda
            data: {'criterio': criterio},
            success: function (data) {
                if (data && data.html){
                    $("#listaDte tbody").html(data.html);
                    console.log("Buscar:", criterio);
                } else {
                    console.error("La respuesta Ajax no contiene el formato esperado:", data);
                }
            }
        });
    }

    function limpiarBusqueda() {
        var criterio = "";
        $('#txtCriterio').val("");
        $.ajax({
            type: "GET",
            url: "/lista_dte_filtrar/{{tipo}}",  // Define la URL de la vista de búsqueda
            data: {'criterio': criterio},
            success: function (data) {
                if (data && data.html){
                    $("#listaDte tbody").html(data.html);
                    console.log("Limpiar:", criterio);
                } else {
                    console.error("La respuesta Ajax no contiene el formato esperado:", data);
                }
            }
        });
    }
</script>
{% endblock %}