{% extends 'base.html' %}
{% load my_filters %}

{% block titulo %}
    Listado de proveedores
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <strong>{{ message.tags.capitalize }}:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">Lista de proveedores</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Razón social</th>
                                <th>Nombre comercial</th>
                                <th>Tipo de documento</th>
                                <th>Número de documento</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for proveedor in proveedores %}
                                <tr>
                                    <td>{{ proveedor.razonsocial }}</td>
                                    <td>{{ proveedor.nombreComercial }}</td>
                                    <td>{{ proveedor.tipoDocumentoProveedor}}</td>
                                    <td>{{ proveedor.numeroDocumento }}</td>
                                    <td><a href="{% url 'dte:proveedor_update' proveedor.codigo %}">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if page_obj.has_previous %}
                    <button type="button" class="btn btn-outline-primary btn-fw">
                        <a href="?page=1">&laquo; Primera</a>
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                    </button>
                    {% endif %}

                    <span>
                        <button type="button" class="btn btn-outline-primary">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </button>
                    </span>

                    {% if page_obj.has_next %}
                    <button type="button" class="btn btn-outline-primary">
                        <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-fw">
                        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}