{% extends 'base.html' %}
{% load my_filters %}
{% block estilo %}
<style type="text/css">
    .pagado {
        color: #01BD3A;
        font-weight: bolder;
    }

    .no-pagado {
        color: #FF5733;
        font-weight: bolder;
    }

    .derecha {
        text-align: right;
    }
</style>
{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <strong>{{ message.tags.capitalize }}:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Documentos emitidos</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Correlativo</th>
                                <th>Código de generación</th>
                                <th>Cliente</th>
                                <th>Monto(USD)</th>
                                <th>Observaciones</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dte in page_obj %}
                                <tr>
                                    <td>{{dte.fecEmi|fecha}}</td>
                                    <td title="{{dte.tipoDte.nombre}}">{{dte.tipoDte.nombre_corto}}</td>
                                    <td>{{dte.numeroControl|slice:"25:"}}</td>
                                    <td><a href="{% url 'dte:actualizar' dte.tipoDte.codigo dte.codigoGeneracion %}">{{dte.codigoGeneracion|slice:":8"}}...</a></td>
                                    <td title="{{dte.receptor}}">{{dte.receptor.nombreComercial}}</td>
                                    <td class="derecha">{{dte.totalPagar|moneda}}</td>
                                    <td>
                                        {% if dte.observaciones %}
                                            {{dte.observaciones|slice:":40"}}
                                        {% endif %}
                                    </td>
                                    {% if dte.estadoPago %}
                                        <td class="pagado">Pagado</td>
                                    {% else %}
                                        <td class="no-pagado"> No pagado</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if page_obj.has_previous %}
                    <button type="button" class="btn btn-outline-primary btn-fw">
                        <a href="?page=1">&laquo; Primera</a>
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                    </button>
                    {% endif %}

                    <span>
                        <button type="button" class="btn btn-outline-primary">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </button>
                    </span>

                    {% if page_obj.has_next %}
                    <button type="button" class="btn btn-outline-primary">
                        <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-fw">
                        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}