<!DOCTYPE html>
<html>
<head>
    <style>
        .watermark {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 90px;
            color: rgba(255, 0, 0, 0.7);
            z-index: 1000;
            pointer-events: none;
        }

        .sello-anulacion {
            top: 60%;
            font-size: 20px;
        }
        .fecha-anulacion {
            top: 65%;
            font-size: 20px;            
        }
    </style>
</head>
<body>
    <div class="watermark">DTE ANULADO</div>
    <div class="watermark sello-anulacion">Sello de anulación: BC62D35C-C0A0-41EA-8545-8E269429C414</div>
    <div class="watermark fecha-anulacion">Fecha: 26/07/2024</div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis ante eu est ultricies volutpat. Nam in porta tortor. Curabitur erat justo, lacinia eget feugiat eget, condimentum a turpis. Suspendisse sed accumsan tellus, ut scelerisque est. Ut ac elit in metus suscipit pulvinar. In id neque vitae dui lobortis iaculis. Aliquam vel purus ligula. Vivamus vitae ante erat. Donec sit amet eros felis. Suspendisse sed nulla tellus.

        Mauris suscipit, sapien et suscipit mollis, enim leo elementum ante, ut fermentum libero neque nec magna. Integer vestibulum elit ac turpis dignissim ornare. Suspendisse sed ex eros. Nullam maximus nisl nibh, ut pretium nisi bibendum a. Aliquam risus est, pellentesque at neque sed, dignissim vestibulum purus. Nam magna justo, euismod quis ornare quis, fermentum mattis libero. Suspendisse eu turpis vitae turpis hendrerit vehicula ac vel nunc.

        Ut in justo enim. Pellentesque nec tincidunt dui, id posuere libero. Nunc mi purus, viverra sit amet enim ultricies, hendrerit tristique dui. Aliquam ut pharetra nisi, non venenatis tortor. Nunc tempus volutpat velit, suscipit consequat ipsum efficitur ac. Nunc ultrices, dui quis dapibus tristique, erat nulla luctus mauris, ornare fermentum orci mi non diam. Aliquam rhoncus semper maximus. Nulla ultricies laoreet ante at fermentum. Sed vitae semper quam. Sed ut mauris pellentesque, pretium lorem quis, egestas justo. Mauris suscipit elit sit amet tristique scelerisque. Fusce nec enim luctus, facilisis ipsum sed, mollis ex.

        Nulla facilisi. Fusce scelerisque quis leo ac porta. Vestibulum eget arcu vitae metus condimentum congue id nec quam. Sed laoreet augue a lectus feugiat, id maximus urna porttitor. Phasellus at semper lectus. Vivamus molestie tortor nec augue aliquam condimentum eget id lorem. Ut tristique varius enim, eget sagittis felis faucibus sit amet. Cras volutpat diam eget felis imperdiet varius. Cras sit amet finibus tellus. Maecenas vulputate augue quis nunc suscipit tristique. Ut tempus leo nec placerat ullamcorper. Etiam vel euismod turpis. Duis mollis orci efficitur nunc placerat, sed egestas quam elementum.

        Nunc a sem ac libero fringilla rutrum ut vel enim. Etiam suscipit, nunc eget viverra aliquam, metus velit malesuada augue, quis vulputate metus lorem ac purus. Aenean in ligula arcu. Donec tristique ut erat sed scelerisque. Aenean tincidunt molestie mi ut posuere. Etiam volutpat pulvinar porta. Integer vulputate, mi id venenatis auctor, neque odio imperdiet lorem, nec pulvinar massa nibh at ante. Vestibulum blandit feugiat purus, et commodo urna euismod vel. Sed pellentesque, orci vel semper pharetra, felis arcu lobortis ante, eu gravida elit quam ut nibh. Nam congue at sapien vel luctus. Aliquam molestie dignissim faucibus. Integer tristique erat vitae magna rhoncus maximus. Aenean a tempus nulla, a semper metus. Morbi malesuada eleifend odio.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis ante eu est ultricies volutpat. Nam in porta tortor. Curabitur erat justo, lacinia eget feugiat eget, condimentum a turpis. Suspendisse sed accumsan tellus, ut scelerisque est. Ut ac elit in metus suscipit pulvinar. In id neque vitae dui lobortis iaculis. Aliquam vel purus ligula. Vivamus vitae ante erat. Donec sit amet eros felis. Suspendisse sed nulla tellus.

        Mauris suscipit, sapien et suscipit mollis, enim leo elementum ante, ut fermentum libero neque nec magna. Integer vestibulum elit ac turpis dignissim ornare. Suspendisse sed ex eros. Nullam maximus nisl nibh, ut pretium nisi bibendum a. Aliquam risus est, pellentesque at neque sed, dignissim vestibulum purus. Nam magna justo, euismod quis ornare quis, fermentum mattis libero. Suspendisse eu turpis vitae turpis hendrerit vehicula ac vel nunc.

        Ut in justo enim. Pellentesque nec tincidunt dui, id posuere libero. Nunc mi purus, viverra sit amet enim ultricies, hendrerit tristique dui. Aliquam ut pharetra nisi, non venenatis tortor. Nunc tempus volutpat velit, suscipit consequat ipsum efficitur ac. Nunc ultrices, dui quis dapibus tristique, erat nulla luctus mauris, ornare fermentum orci mi non diam. Aliquam rhoncus semper maximus. Nulla ultricies laoreet ante at fermentum. Sed vitae semper quam. Sed ut mauris pellentesque, pretium lorem quis, egestas justo. Mauris suscipit elit sit amet tristique scelerisque. Fusce nec enim luctus, facilisis ipsum sed, mollis ex.

        Nulla facilisi. Fusce scelerisque quis leo ac porta. Vestibulum eget arcu vitae metus condimentum congue id nec quam. Sed laoreet augue a lectus feugiat, id maximus urna porttitor. Phasellus at semper lectus. Vivamus molestie tortor nec augue aliquam condimentum eget id lorem. Ut tristique varius enim, eget sagittis felis faucibus sit amet. Cras volutpat diam eget felis imperdiet varius. Cras sit amet finibus tellus. Maecenas vulputate augue quis nunc suscipit tristique. Ut tempus leo nec placerat ullamcorper. Etiam vel euismod turpis. Duis mollis orci efficitur nunc placerat, sed egestas quam elementum.

        Nunc a sem ac libero fringilla rutrum ut vel enim. Etiam suscipit, nunc eget viverra aliquam, metus velit malesuada augue, quis vulputate metus lorem ac purus. Aenean in ligula arcu. Donec tristique ut erat sed scelerisque. Aenean tincidunt molestie mi ut posuere. Etiam volutpat pulvinar porta. Integer vulputate, mi id venenatis auctor, neque odio imperdiet lorem, nec pulvinar massa nibh at ante. Vestibulum blandit feugiat purus, et commodo urna euismod vel. Sed pellentesque, orci vel semper pharetra, felis arcu lobortis ante, eu gravida elit quam ut nibh. Nam congue at sapien vel luctus. Aliquam molestie dignissim faucibus. Integer tristique erat vitae magna rhoncus maximus. Aenean a tempus nulla, a semper metus. Morbi malesuada eleifend odio.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis ante eu est ultricies volutpat. Nam in porta tortor. Curabitur erat justo, lacinia eget feugiat eget, condimentum a turpis. Suspendisse sed accumsan tellus, ut scelerisque est. Ut ac elit in metus suscipit pulvinar. In id neque vitae dui lobortis iaculis. Aliquam vel purus ligula. Vivamus vitae ante erat. Donec sit amet eros felis. Suspendisse sed nulla tellus.

        Mauris suscipit, sapien et suscipit mollis, enim leo elementum ante, ut fermentum libero neque nec magna. Integer vestibulum elit ac turpis dignissim ornare. Suspendisse sed ex eros. Nullam maximus nisl nibh, ut pretium nisi bibendum a. Aliquam risus est, pellentesque at neque sed, dignissim vestibulum purus. Nam magna justo, euismod quis ornare quis, fermentum mattis libero. Suspendisse eu turpis vitae turpis hendrerit vehicula ac vel nunc.

        Ut in justo enim. Pellentesque nec tincidunt dui, id posuere libero. Nunc mi purus, viverra sit amet enim ultricies, hendrerit tristique dui. Aliquam ut pharetra nisi, non venenatis tortor. Nunc tempus volutpat velit, suscipit consequat ipsum efficitur ac. Nunc ultrices, dui quis dapibus tristique, erat nulla luctus mauris, ornare fermentum orci mi non diam. Aliquam rhoncus semper maximus. Nulla ultricies laoreet ante at fermentum. Sed vitae semper quam. Sed ut mauris pellentesque, pretium lorem quis, egestas justo. Mauris suscipit elit sit amet tristique scelerisque. Fusce nec enim luctus, facilisis ipsum sed, mollis ex.

        Nulla facilisi. Fusce scelerisque quis leo ac porta. Vestibulum eget arcu vitae metus condimentum congue id nec quam. Sed laoreet augue a lectus feugiat, id maximus urna porttitor. Phasellus at semper lectus. Vivamus molestie tortor nec augue aliquam condimentum eget id lorem. Ut tristique varius enim, eget sagittis felis faucibus sit amet. Cras volutpat diam eget felis imperdiet varius. Cras sit amet finibus tellus. Maecenas vulputate augue quis nunc suscipit tristique. Ut tempus leo nec placerat ullamcorper. Etiam vel euismod turpis. Duis mollis orci efficitur nunc placerat, sed egestas quam elementum.

        Nunc a sem ac libero fringilla rutrum ut vel enim. Etiam suscipit, nunc eget viverra aliquam, metus velit malesuada augue, quis vulputate metus lorem ac purus. Aenean in ligula arcu. Donec tristique ut erat sed scelerisque. Aenean tincidunt molestie mi ut posuere. Etiam volutpat pulvinar porta. Integer vulputate, mi id venenatis auctor, neque odio imperdiet lorem, nec pulvinar massa nibh at ante. Vestibulum blandit feugiat purus, et commodo urna euismod vel. Sed pellentesque, orci vel semper pharetra, felis arcu lobortis ante, eu gravida elit quam ut nibh. Nam congue at sapien vel luctus. Aliquam molestie dignissim faucibus. Integer tristique erat vitae magna rhoncus maximus. Aenean a tempus nulla, a semper metus. Morbi malesuada eleifend odio.
    </p>
</body>
</html>