{% extends 'base.html' %}
{% load my_filters %}
{% load crispy_forms_tags %}

{% block titulo %}
    Perfil de la empresa
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle</h4>
                 <form method="post">
                    {% csrf_token %}
                    <table align="center">
                        {% for field in form %}
                            <tr>
                                <td>{{ field.label_tagx }}</td>
                                <td>{{ field|as_crispy_field }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div align="right">
                        <button class="btn btn-primary" type="submit" align="center">Guardar</button>
                    </div>
                </form>
                
            </div>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-6 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="mb-4 text-dark font-weight-bold">Enlace para registro del cliente</h4>
          <p><a href="https://alfadte.azurewebsites.net/registro_de_cliente/{{request.session.empresa}}" target="_blank">
            https://alfadte.azurewebsites.net/registro_de_cliente/{{request.session.empresa}}</a>
          </p>
          <!--i class="mdi mdi-file-document icon-md absolute-center text-dark"></i-->
        </div>
      </div>
    </div>

    <!--div class="col-xl-6 col-lg-6 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="mb-4 text-dark font-weight-bold">Código QR para imprimir</h4>
        </div>
      </div>
    </div-->
</div>
{% endblock %}