{% extends 'base.html' %}
{% load my_filters %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle del proveedor</h4>
                 <form method="post">
                    {% csrf_token %}
                    <table align="center">
                        {% for field in form %}
                            <tr>
                                <td>{{ field.label_tagx }}</td>
                                <td>{{ field|as_crispy_field }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <button class="btn btn-primary" type="submit" align="center">Guardar</button>
                </form>
                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}